{% extends "base.html" %}
{% block title %}Tailgate - {{ user.name }}{% endblock %}
{% block content %}
<div class="jumbotron">
	<h1><a href="/">Tailgate</a></h1>
	<p>
		<a href="{{url_for('calendar', id=user.id)}}">iCal calendar</a> (right click and "copy link address")<br />
		Next few books:
	<p>
	<ul>
	{% for book in next_books %}
		<li>{{book.published.date()}} <a href="https://www.goodreads.com/author/show/{{book.author.id}}">{{book.author.name}}</a> - <a href="https://www.goodreads.com/book/show/{{book.id}}">{{book.title}}</a></li>
	{% endfor %}
	</ul>
	<p>Previous few books:</p>
	<ul>
	{% for book in prev_books %}
		<li>{{book.published.date()}} <a href="https://www.goodreads.com/author/show/{{book.author.id}}">{{book.author.name}}</a> - <a href="https://www.goodreads.com/book/show/{{book.id}}">{{book.title}}</a></li>
	{% endfor %}
	</ul>
	<p>Authors:</p>
	<ul>
	{% for author in authors %}
		<li><a href="https://www.goodreads.com/author/show/{{author.id}}">{{author.name}}</a> -
			<form style="display: inline-block;" method="POST" action="{{url_for('author', id=user.id, author_id=author.id)}}">
				<input class="btn btn-primary" type="submit" value="last updated {{author.pretty_update()}}" />
			</form>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}